main {
    
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.secao-bio{
background-color: rgba(88, 90, 91, 0.532);
width: 100%;
height: 200px;
/* altura sera retirada */
display: flex;
align-items: center;
justify-content: center ;
object-fit: cover;
object-position: center;
padding: 5px;


}

#seguidores{
    align-items: center;
    display: flex;
    flex-direction: column;
   justify-content: center;
   gap: 10px;
   padding: 10px;
}

#seguidores > span{
    display: flex;
    gap: 20px;

}

#seguidores > span > a {
 text-decoration: none;
 color: black;
}
#edicao{
align-items: center;
display: flex;
padding: 10px;
gap: 10px;
}



.secao-bio > img {
border-radius: 50%;
}
#sair {
color: brown;
}

h2 {
padding: 7px;
gap: 5px;
}
.imagem-publicacao{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 410px;

}
.card-publi> figure>figcaption{
    color: black;
    font-size: var(--tamanho-fonte-md);
    font-weight: 500;
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin: 15px;
    
    

}
.descricao-publicacao{
    font-size: var(--tamanho-fonte-sm);
    font-weight: 400;
}
.interacoes-publicacao{
    display: flex;
    width: 88px;
    flex-wrap: wrap;
    justify-content: space-between;
    order: 1;
    margin-left: 15px;
    margin-top: 15px;

}
.interacoes-publicacao > button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}



















/* Secao publi */

.card-publi {
    
    width: 100%;
}

.card-publi>header>button>img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    

}

.card-publi>header>button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: black;
    text-transform: lowercase;
    column-gap: 10px;
}
.imagem-publicacao{
    object-fit: cover;
    object-position: center;
    width: 50%;
    height: 200px;

}
.card-publi> figure>figcaption{
    color: black;
    font-size: var(--tamanho-fonte-md);
    font-weight: 500;
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin: 15px;
    
    

}
.descricao-publicacao{
    font-size: var(--tamanho-fonte-sm);
    font-weight: 400;
}
.interacoes-publicacao{
    display: flex;
    width: 88px;
    flex-wrap: wrap;
    justify-content: space-between;
    order: 1;
    margin-left: 15px;
    margin-top: 15px;

}
.interacoes-publicacao > button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.card-publi > figure > button{
    background-color: transparent;
    border: none;

    color: rgba(61, 68, 74, 0.385);
    font-size: var(--tamanho-fonte-sm);
    order: 3;

    margin-left: 15px;
}

.foto-perfil{
width: 80px;

}
#publicacoes-feitas{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}